.dataTableFilterSearchBar {
    background-color: #EAEBFF;
    border: 1px solid #D3D6FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:10px;
    margin-top:10px;
}
.dataTableFilterSearchBar > div {
    display: inline-block;
    width:33%;
    vertical-align: top;
    padding:5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.dataTableFilterSearchBar .dataTableSearchBarType div {
    display: inline-block;
}
.dataTableFilterSearchBar .dataTableSearchBarCategory select {
    width:90%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.dataTableFilterSearchBar .dataTableSearchBarSearch input {
    margin:10px;
    margin-left:0;
    margin-right:0;
    width:90%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.dataTables_filter {
    margin-bottom:5px;
}
.dataTable_filter_header {
    display: block !important;
    margin-bottom:5px;
    font-weight:bold;
    font-size:16px;
}